<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SkypeDBReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="SDBR_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <SkypeDBReader.Properties.Settings>
      <setting name="SkypeID" serializeAs="String">
        <value>SkypeID</value>
      </setting>
      <setting name="ChatID" serializeAs="String">
        <value>ChatID</value>
      </setting>
      <setting name="MessageRow" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MyColor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FilterCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FSkypeCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterSkypeID" serializeAs="String">
        <value />
      </setting>
      <setting name="FStringCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimeDisplay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BaseColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="MainWindow_Width" serializeAs="String">
        <value>664</value>
      </setting>
      <setting name="MainWindow_Height" serializeAs="String">
        <value>379</value>
      </setting>
      <setting name="MainWindow_Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindow_Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataGridNameWidth" serializeAs="String">
        <value>60</value>
      </setting>
    </SkypeDBReader.Properties.Settings>
    <SDBR_WPF.Properties.Settings>
      <setting name="SkypeID" serializeAs="String">
        <value>SkypeID</value>
      </setting>
      <setting name="ChatID" serializeAs="String">
        <value>ChatID</value>
      </setting>
      <setting name="MessageRow" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MyColor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FilterCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FSkypeCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterSkypeID" serializeAs="String">
        <value/>
      </setting>
      <setting name="FStringCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterString" serializeAs="String">
        <value/>
      </setting>
      <setting name="TimeDisplay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BaseColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
    </SDBR_WPF.Properties.Settings>
  </userSettings>
  
</configuration>
